########################################################################################################################
# STACK CONFIG
########################################################################################################################
COMPOSE_PROJECT_NAME=urantialab

########################################################################################################################
# EDGE ROUTES
########################################################################################################################
CADDY_HTTP_PORT=8080
CADDY_API_PATH=/dev-api
