########################################################################################################################
# STACK CONFIG
########################################################################################################################
COMPOSE_PROJECT_NAME=urantialab

########################################################################################################################
# EDGE ROUTES
########################################################################################################################
CADDY_HTTP_PORT=8080
CADDY_API_PATH=/dev-api
CADDY_HOST_MATCHERS=localhost localhost:8080 127.0.0.1 127.0.0.1:8080
EDGE_HOSTNAME=localhost
EDGE_FORWARDED_PROTO=http
EDGE_PUBLIC_URL=http://localhost:8080
