########################################################################################################################
# STACK CONFIG
########################################################################################################################
COMPOSE_PROJECT_NAME=urantialab
